<h1>
    <%= @location.name %>
</h1>

<p>
    <%= @location.description %>
</p>


<h3>
    Leave <%= @location.name %>
</h3>

<table>
    <% @location.neighbours.each do |location| %>
        <tr>
            <td>
                <%= link_to location.name, travel_to_path(location)%>
            </td>
        </tr>
    <% end %>
</table>
