// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #1c1c1c;
$font-color: #fff;

$card-height: 250px;
$card-width: 200px;

body
{
    background-color: $background-color;
    color: $font-color;
}

.card
{
    background-color: #ff0000;
    width: $card-width;
    height: $card-height;
    float: left;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes card_rise{
    from{
        margin-top: 25px;
    }
    to{
        margin-top: 0px;
    }
}

.card:hover
{
    animation: card_rise 0.5s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.15, 0.32, 0.55, 1.5);
}

@keyframes card_add
{
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
